@import "@fontsource/montserrat/100.css";
@import "@fontsource/montserrat/300.css";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";
@import "@fontsource/montserrat/900.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scrollbar-width: thin;
	scrollbar-color: #E667A4 transparent;
}
*::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
*::-webkit-scrollbar-thumb {
	background-color: #E667A4;
	border-radius: 9999px;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #d65997;
}
